body {
    transition: opacity 0.5s ease-in-out;
    display: flex;

    #root {
        --margin: 3em;
        padding: var(--margin);
        padding-top: calc(var(--margin) + 2em);
        display: flex;
        align-items: center;
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;

        &:before {
            content: "";
            top: 0;
            left: 0;
            position: fixed;
            width: 100%;
            height: 190vh;
            background: url(../../images/BG-Tx-1.svg);
            opacity: 1;
            background-size: cover;
            background-attachment: fixed;
            z-index: -1;
            filter: invert(100%) contrast(200%) brightness(0.1);
        }

        .app {
            &--nav {
                padding: 0 var(--margin);
                position: fixed;
                top: 5px;
                left: 50%;
                width: calc(100% - 10px);
                min-height: 70px;
                display: flex;
                align-items: center;
                z-index: 1;
                backdrop-filter: blur(20px);
                transform: translateX(-50%);
                border-bottom: 0.5px solid var(--bg-color);

                .brand {
                    &-text {
                        font-size: 15px;
                        text-decoration: none;
                        color: var(--fg-color);
                        opacity: 0.7;
                    }
                }

                .navigator {
                    display: flex;
                    align-items: center;
                    margin-left: auto;

                    span {
                        &:after {
                            content: "•";
                            display: flex;
                            align-items: center;
                            font-size: x-small;
                        }
                    }

                    .item {
                        margin: 0 1em;
                        color: var(--fg-color-3);
                        text-decoration: none;
                        font-size: 14px;
                        min-width: 30px;
                        text-align: center;

                        &:after {
                            content: '';
                            background: var(--accent);
                            border-radius: 5px;
                            width: 0px;
                            max-width: 50%;
                            height: 1.5px;
                            display: block;
                            transition: 0.4s;
                        }

                        &:hover {
                            &:after {
                                width: 20px;
                            }
                        }
                    }
                }
            }

            &--container {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                padding: 0.5em;
                padding-bottom: 0em;
                margin: 0;
                width: 100%;
                height: 100%;

                .app--slides {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: flex-start;
                    padding: 0.5em;
                    margin: 0;
                    width: 100%;
                    height: 100vh;
                    overflow-y: scroll;
                    overflow-x: hidden;

                    &::-webkit-scrollbar {
                        width: 0.7em;
                    }

                    &::-webkit-scrollbar-track {
                        box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
                    }

                    &::-webkit-scrollbar-thumb {
                        background-color: var(--fg-color-2);
                        outline: 1px solid var(--fg-color-3);
                        border-radius: 3px;
                    }

                    .screen {
                        display: flex;
                        justify-content: center;
                        height: 100%;
                        scroll-snap-align: start;
                        flex-direction: column;
                        align-items: center;
                        width: 100%;
                        min-height: 100%;
                        text-align: center;


                        .intro-image {
                            width: 100vw;
                            height: 100vw;
                            height: 100px;
                            width: 100px;
                            border-radius: 100%;
                            margin-bottom: 0.5em;
                            padding: 3px;
                            border: 1px solid var(--fg-color-2);

                            img {
                                width: 100%;
                                border-radius: 100%;
                            }
                        }

                        p {
                            font-size: 15px;
                            font-weight: 200;
                            max-width: 50%;
                            opacity: 0.7;
                            color: var(--fg-color);
                            margin-top: 0.5em;
                        }

                        h2 {
                            margin-top: 0.5em;
                            font-size: 35px;
                            opacity: 0.87;
                            max-width: 50%;
                            font-weight: 300;
                        }

                        button {
                            margin-top: 3em;
                            padding: 1em 1.5em;
                            border: 1px solid var(--fg-color-2);
                            color: var(--fg-color);
                            background: var(--bg-color-2);
                            transition: 0.2s;

                            &:hover {
                                opacity: 0.7;
                                cursor: pointer;
                            }
                        }

                        &.portfolio {
                            justify-content: flex-start;
                            display: flex;
                            flex-direction: column;
                            margin-top: 10em;
                            width: 100%;

                            .header {
                                display: flex;
                                flex-direction: column;
                                text-align: left;
                                align-items: flex-start;
                                width: 100%;
                                padding-left: calc(var(--margin)/2);
                                
                                * {
                                    margin: 0;
                                    padding: 0 !important;
                                }

                                small {
                                    opacity: 0.7;
                                    padding-left: 2px !important;
                                }
                            }


                            .projects {
                                --gap:1em;
                                margin-top: 5em;
                                display: grid;
                                padding: 0 2em;
                                gap: var(--gap);
                                grid-template-columns: 2fr 1fr 2fr;

                                .flexx {
                                    display: flex;
                                    grid-template-columns: 1fr;
                                    flex-direction: column;
                                    width: 100%;
                                    gap: var(--gap);

                                    .item {
                                        width: 100%;
                                        background: var(--bg-color-2);
                                        border-radius: 5px;
                                        border: 1px solid var(--fg-color-2);
                                        color: var(--fg-color);
                                        background: var(--bg-color-2);
                                        padding: 1.7em 2em;
                                        //border-radius: 10px;
                                        text-align: left;
                                        transition: 0.4s ease-in-out;
                                        opacity: 0.7;
    
                                        &:hover {
                                            
                                            opacity: 1;
                                        }
    
                                        .countributors {
                                            display: flex;
                                            flex-direction: row;
                                            margin: 0.5em 0;
                                            flex-wrap: wrap;
                                            max-width: 100px;
    
                                            span {
                                                width: 20px;
                                                height: 20px;
                                                background: black;
                                                border: 2px solid var(--fg-color-2);
                                                border-radius: 100%;
                                                margin-right: -0%;
                                                overflow: hidden;
    
                                                img {
                                                    width: 100%;
                                                }
                                            }
                                        }
    
                                        .title {
                                            margin-top: 0.5em;
                                            display: flex;
                                            column-gap: 4px;
                                            font-size: 19px;
                                            margin-bottom: 1em;
                                            white-space: wrap;
                                            overflow: hidden;
                                            text-overflow: ellipsis;
                                            width: 200px;

    
                                            h3 {
                                                color: var(--fg-color);
                                                border: 1px solid var(--fg-color-4);
                                                //background-color: var(--fg-color-4);
                                                width: auto;
                                                margin-right: auto;
                                                border-radius: 5px;
                                                padding: 0 0.5em;
                                                font-size: 19px;
                                                white-space: nowrap;
                                                display: flex;
                                                align-items: center;
    
                                                a {
                                                    text-decoration: none;
                                                    color: var(--fg-color);
                                                }

                                                i {
                                                    color: var(--accent);
                                                }
                                            }
                                        }
    
                                        .description {
                                            display: flex;
                                            align-items: flex-start;
                                            max-width: unset;
                                            margin: 1.5em 0em;
                                            margin-top: 0.5em;
                                            font-weight: 200;
                                            font-size: 13px;
                                        }
    
                                        .topics {
                                            display: flex;
                                            align-items: center;
                                            gap: 0.4em;
    
                                            span {
                                                padding: .2em 0;
                                                border-radius: 4px;
                                                color: var(--fg-color);
                                                font-size: 14px;
                                                text-transform: capitalize;
                                                font-style: italic;
                                                white-space: nowrap;
                                                background:  var(--fg-color-4);
                                                width: auto;
                                                border-radius: 5px;
                                                padding: 0 0.5em;
                                                position: relative;
                                                margin-right: 0.5em;
    
                                                &:not(:last-child):after {
                                                    content: "•";
                                                    margin-left: 1em;
                                                    opacity: 0.7;
                                                    position: absolute;
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }

            &--footer {
                position: fixed;
                bottom: 0;
                left: 50%;
                margin: auto;
                transform: translate(-50%, 0);
                width: 91%;
                text-align: center;
                backdrop-filter: blur(20px);
                padding-bottom: 1em;
                padding-top: 0.5em;

                p {
                    font-size: 14px;
                    font-weight: 100;
                    color: var(--fg-color-2);

                    .red {
                        color: rgb(223, 55, 69);
                    }
                }
            }
        }
    }

    .beep {
        animation: beep 1s infinite;
    }
}

@keyframes appear {
    0% {
        transform: translateY(30px);
    }

    49% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    51% {
        opacity: 1;
    }

    100% {
        transform: translateY(0px);
    }
}

@keyframes beep {
    0% {
        opacity: 0.5;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0.5;
    }
}